{% extends 'base.html' %}


{% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{% if message.tags %}{{ message.tags }}{% endif %}">
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
{% endif %}


{% block content %}

  <h2>{% if book.pk %}Edit{% else %}Add{% endif %} Book</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">{% if book.pk %}Update{% else %}Add{% endif %} Book</button>
  </form>
  <a href="{% url 'book_list' %}">Back to list</a>
{% endblock %}
